body {
    font-family: 'Open Sans', sans-serif;
    color: black; /* Warm dark brown for text */
    background-color: #FFF8DC; /* Calm cream background */
}

header, footer {
    background-color: #DEB887; /* Warm tan color */
    color: #333;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    font-family: 'Roboto', sans-serif;
    color: #3b1e09; /* Saddle brown color for headings */
    margin: 20px; /* Remove default margin */
    font-size: 2em; /* Adjust the font size as needed */
}

h1, h2 {
    font-family: 'Roboto', sans-serif;
    color: #3b1e09; /* Saddle brown color for headings */
}

section {
    margin: 10px;
    padding: 10px;
    border: 1px solid #D2B48C; /* Tan border */
    border-radius: 5px;
}

#color-schema, #typography {
    background-color: #FFEFD5; /* Papaya whip for section backgrounds */
}

ul {
    list-style-type: square;
}

.color-display {
    padding: 10px;
    margin: 10px 0;
    color: #333;
    border: 1px solid #ccc;
}

.font-sample-heading {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin-top: 10px;
}

.font-sample-body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
}

#hero {
    /* Remove or adjust any border or background properties */
    background: none;
    border: none;
    padding-right: 100px;
    margin-bottom: 0px;
}

#hero img {
    height: 100%;
    width: auto;
    display: block;
    margin: 0 auto; /* Center the image */
}

#call-to-action {
    border: none;
    background: none;
    text-align: center; /* Center the link */
    padding: 10px;
    margin-top: 0px;
}

#call-to-action a {
    display: inline-block; /* Makes the element inline but allows padding */
    background-color: #6A3310; /* Button color */
    color: white; /* Text color */
    padding: 10px 20px; /* Top & Bottom, Left & Right padding */
    text-align: center;
    text-decoration: none; /* Removes underline from links */
    font-weight: bold;
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

#call-to-action a:hover {
    background-color: #50280b; /* Darker shade on hover */
}


main {
    display: flex;
    flex-direction: column;
}

#hero, #events, #weather, #spotlights {
    /* Each section takes the full width */
    width: 100%;
}

.spotlight {
    /* Add styling for individual spotlights here */
}

#hamburger {
    display: block; /* Show hamburger icon */
    /* Style the hamburger icon as needed */
}

#nav-menu {
    display: none; /* Hidden by default on smaller screens */
    font-family: 'Roboto', sans-serif;
    list-style-type: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Align menu properly */
    text-align: center; /* Center the menu items */
}

#nav-menu li {
    padding: 10px 0px; /* Padding around links for a button-like appearance */
    background-color: #8B4513; /* Button color */
    border-radius: 5px;
    display: inline-block; /* Display items in a line */
}

#nav-menu a {
    text-decoration: none; /* Remove underline from links */
    color: white; /* Set link color */
    padding: 10px 15px; /* Padding around links for a button-like appearance */
    border-radius: 5px; /* Rounded corners for buttons */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

#nav-menu a:hover, #nav-menu a:focus {
    background-color: #50280b; /* Background color for hover and focus */
    color: white; /* Text color for hover and focus */
}
