body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300; /* Using the 300 weight for Poppins */
  color: #693b3b;
  background-color: rgb(225, 220, 240);
}

header {
    background-color: #bbb;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    margin: 0 auto;
}

main {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

main h2 {
    text-decoration: underline;
    justify-content: center;
    display: flex;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
}

.card {
    display: block;
    list-style-type: none;
    grid-row: 2;
    margin: 20px auto; /* Added some margin for visual separation */
    padding: 20px; /* Padding inside the card */
    background-color: rgba(61, 152, 188, 0.544); /* Background color for the card */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* Shadow effect */
    border-radius: 10px; /* Optional: for rounded corners */
}

.card h3 {
    grid-row: 2;
}

.card ul {
    list-style-type: none;
    padding-left: 0;
    grid-row: 2;
    background-color: #fff; /* Set the background color to white */
    margin: 0; /* Reset default margin */
    padding: 1em; /* Add some padding */
    border-radius: 5px; /* Optional: if you want rounded corners */
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

nav {
    background-color: #36454f;
    margin: 0 auto;
    max-width: 1000px;
}

nav ul {
    list-style-type: none;
}

nav a { 
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    border: 1px solid transparent;
}

nav a:hover {
    border: 1px solid rgb(122, 131, 178);
}

.active {
    color: yellow;
}

footer {
    display: block;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #bbb;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: relative;
    bottom: 0; 
    left: 0;
    right: 0;
    text-align: center;
}

#lastModified {
    color: rgb(168, 137, 61);
}